<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SvgServletsManage</display-name>
	<filter>
		<filter-name>Reporter</filter-name>
		<filter-class>
			com.nci.svg.server.util.ReportFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>Reporter</filter-name>
		<url-pattern>/svgservices/*</url-pattern>
	</filter-mapping>


	<servlet>
		<description></description>
		<display-name>SvgServices</display-name>
		<servlet-name>SvgServices</servlet-name>
		<servlet-class>com.nci.svg.server.SvgServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SvgServices</servlet-name>
		<url-pattern>/svgservices</url-pattern>
	</servlet-mapping>

	<display-name>SvgServletsTest</display-name>
	<servlet>
		<description></description>
		<display-name>test</display-name>
		<servlet-name>test</servlet-name>
		<servlet-class>
			com.nci.svg.server.MainServletTest
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
