<?xml version="1.0" ?>

<!--
	=============================================
	GNU LESSER GENERAL PUBLIC LICENSE Version 2.1
	=============================================
	GLIPS Graffiti Editor, a SVG Editor
	Copyright (C) 2003 Jordi SUC, Philippe Gil, SARL ITRIS
	
	This library is free software; you can redistribute it and/or
	modify it under the terms of the GNU Lesser General Public
	License as published by the Free Software Foundation; either
	version 2.1 of the License, or (at your option) any later version.
	
	This library is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
	Lesser General Public License for more details.
	
	You should have received a copy of the GNU Lesser General Public
	License along with this library; if not, write to the Free Software
	Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
	
	Contact : jordi.suc@itris.fr; philippe.gil@itris.fr
	
	=============================================
-->
<menubar>
	<menu name="menufile" mode="view-edit" Mnemonic="F">
		<!-- 文件 -->
		<menuitem name="FileNew" mode="edit" />
		<menuitem name="FileOpen" mode="view-edit" />
		<menuitem name="FileOpenStandard" mode="view-edit" />
		<menuitem name="FileOpenPersonal" mode="view-edit" />
		<!--
		<menuitem name="MongLineDrawingModule" mode="view-edit" />-->
    	<menuitem name="FileClose" mode="view-edit" />

		<separator />
		<menuitem name="FileSave" mode="view-edit" />
		<menuitem name="FileSaveAs" mode="view-edit" />
		<menuitem name="FileSaveToServer" mode="edit" />
		<separator />
		<!--<menuitem name="NciTest" mode="view-edit" />-->

		<menuitem name="FileExport" mode="view-edit" />

		<menuitem name="FileOpenRecent" mode="view-edit" />
		<separator />
		<menuitem name="FilePrint" mode="view-edit" />
		<!--<separator />
		  <menuitem name="EditorExit" mode="view-edit" />-->
	</menu>
	

	<menu name="nci_menu_graphunit" mode="edit" Mnemonic="T">
<!--
		<menuitem name="nci_menu_graphunit_manage" />-->
		<menuitem name="nci_graphunit_new" />
		<menuitem name="nci_graphunit_open" />
		<!--
			<separator />
			<menu name="nci_point_manage">
			<menuitem name="AddGraphUnitPointShape" />
			<menuitem name="RemoveGraphUnitPointShape" />
			</menu>
		-->
</menu>


	<menu name="menuedit" mode="view-edit" Mnemonic="E">
		<!-- 编辑 -->
		<menuitem name="Undo" mode="view-edit" />
		<menuitem name="Redo" mode="view-edit" />
		<separator />
		<menuitem name="Cut" mode="edit" />
		<menuitem name="Copy" mode="view-edit" />
		<menuitem name="Paste" mode="edit" />
		<menuitem name="Delete" mode="edit" />
		<!--  
			<menuitem name="PastePos" />
		-->
		<separator />
		<menuitem name="SvgSearch" mode="view-edit" />
		<separator />
		<menuitem name="RegularSelection" mode="view-edit" />
		<menuitem name="ZoneSelection" mode="view-edit" />
		<menuitem name="AllSelection" mode="view-edit" />
		<menuitem name="AllDeselection" mode="view-edit" />
		
		
		
	</menu>


	<menu name="menudisplay" mode="view-edit" Mnemonic="V">
		<!-- 视图 -->
		<menuitem name="GridParameters" mode="view-edit" />
		<menuitem name="GridDisplay" mode="view-edit" />
		<separator />
		<menuitem name="Rulers" mode="view-edit" />
		<menuitem name="nci_svgcanvas_background" mode="view-edit" />
		<separator />
		<menuitem name="ZoomModule" mode="view-edit" />
		<separator />
		<menuitem name="CanvasSize" mode="view-edit" />
	</menu>

	<menu name="menudraw" mode="edit" Mnemonic="D">
		<!-- 绘图 -->
		<menuitem name="RectangleShape" />
		<menuitem name="CircleShape" />
		<menuitem name="EllipseShape" />
		<separator />
		<menuitem name="LineShape" />
		<menuitem name="CurveShape" />
		<menuitem name="FoldLineShape" />
		<menuitem name="PathShape" />
		<separator />
		<menuitem name="AddPointPathShape" />
		<menuitem name="RemovePointPathShape" />
		<separator />
		<menuitem name="ImageShape" />
		<menuitem name="TextShape" />
		<!-- 
			<menuitem name="AddPointPathShape" />
			<menuitem name="RemovePointPathShape" />
			<menuitem name="JWidgetManager" />
			<menuitem name="RtdaViewShape" />
			<menuitem name="RtdaWidgetShape" />
		-->
		<separator />
		<menuitem name="DrawLineModule" />
		<menuitem name="DrawLineModifyModule" />
		<separator />
		<menuitem name="OptionsModule" />
	</menu>

	<menu name="menutransform" mode="view-edit" Mnemonic="S">
		<!-- 形状 -->
		<menu name="nci_menu_group"><!-- 组合 -->
			<menuitem name="GroupShape" mode="edit" />
			<menuitem name="UnGroupShape" mode="edit" />
			<menuitem name="GroupBay" mode="edit" />
			<menuitem name="UnGroupBay" mode="edit" />
			<separator />
			<menuitem name="EnterGroup" mode="view-edit" />
			<menuitem name="ExitGroup" mode="view-edit" />
		</menu>
		<menuitem name="Order" mode="edit" />
		<menuitem name="Flip" mode="edit" />
		<menuitem name="Rotate" mode="edit" />
		<menuitem name="PathOperations" mode="edit" />
		<separator />
		<menuitem name="Align" mode="edit" />
		<menuitem name="CenterOnCanvas" mode="edit" />
		<menuitem name="Distribute" mode="edit" />
		<separator />
		<menuitem name="SameDimensions" mode="edit" />
		<separator />
		<menuitem name="Lock" mode="edit" />
		<menuitem name="UnLock" mode="edit" />
	</menu>

	

	<menu name="menudialog" mode="view-edit" Mnemonic="T">
		<!-- 工具 -->

		<menuitem name="DOMViewer" mode="view-edit" />
		<separator />
		<menuitem name="ToolFrame_Properties" mode="edit" />
		<menuitem name="ToolFrame_VisualResources" mode="edit" />
		<!--	<separator />
			<menuitem name="ToolFrame_RtdaDataBaseEditor" />
			<menuitem name="ToolFrame_RtdaAnimationsAndActions" />
			<menuitem name="RtdaAnimationsAndActionsTestLauncher" /> 
			<menuitem name="MemoryMonitor" />
		-->

	</menu>

	<menu name="nci_menu_business" mode="view" Mnemonic="B">
		<!-- 业务 -->
		<menuitem name="ResetSymbol" mode="view-edit" />
	</menu>

	<!-- 窗口
		<menu name="nci_menu_window" Mnemonic="W">
		<menu name="menuframe"/>
		</menu>
	-->
	<menu name="menuframe" mode="view-edit" Mnemonic="W">
		<!-- 窗口 -->
	</menu>

	<menu name="menuhelp" mode="view-edit" Mnemonic="H">
		<!-- 帮助 -->
		<menuitem name="NciHelp" />
		<menuitem name="About" />
	</menu>
</menubar>
