<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
	{%mf head%}
	<title>{% block title %} {{ blog.title|escape}}{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushCpp.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushDelphi.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushDiff.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushGroovy.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushRuby.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushScala.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushVb.js"></script>
    <script type="text/javascript" src="/static/js/syntaxhighlighter/scripts/shBrushXml.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/js/syntaxhighlighter/styles/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="/static/js/syntaxhighlighter/styles/shThemeDefault.css"/>
    <script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = '/static/js/syntaxhighlighter/scripts/clipboard.swf';
    SyntaxHighlighter.all();
    </script>
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /><![endif]-->
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link rel="stylesheet" type="text/css" media="all" href="/themes/{{ blog.theme_name }}/style.css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<!-- html5 for ie -->
		<!--[if IE]><script type="text/javascript" src="/themes/{{ blog.theme_name }}/html5.js"></script><![endif]--> 
		{% block head_block %}{% endblock %}
	{%endmf%}
	</head>
	<body>
	<div id ="section">
		<div id="wrapper">
			<header>
			<div id = "header">
				<div class="hgroup">
					<h1><a href="/">{{ blog.title|escape}}</a></h1>
					<div class="description">{{ blog.subtitle|escape}}</div>
				</div>   <!--  -->
				<div id = "nav">
					<a class="feedrss" href="{{ blog.feedurl }}" title="RSS Feeds">RSS Feeds</a>
					<menu id="menus">
					  {%if ishome%}
					  <li class="current_page_item"><a href="/">Home</a></li>
					  {{self.m_list_pages}}
					  {%else%}
					  <li class="page_item"><a href="/" title="Click Back to Home">Home</a>
					  {{self.m_list_pages}}
					  </li>
					  {%endif%}
					</menu>
				</div>
				<ul class = "popadmin"><li><a href = "/admin">Post One</a></li></ul>
				</div>
			</header>
				<!-- menu END -->
			<hr>
			{% block content %}{% endblock %}
			<div id ="footer">
			<a id="top" href="#top" title="Back to top.">Top</a>
				<p>&copy;2010 <a href="/">{{ blog.title|escape}}</a>&nbsp;,&nbsp;Powered by&nbsp;<a href="http://appengine.google.com/">Google App Engine</a>&nbsp;.<br />
				Contact Chet Wang <a href = "mailto:chet.wang@virbraligo.org?Subject=Hello">chet.wang@virbraligo.org</a>.
				</p>
				</p>
			</div>
		</div>
	<hr />
	<script type="text/javascript" src="/static/js/scrolltopcontrol.js"></script>
	</body>
</html>