<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.vlg.linghu.mybatis.mapper.MmsSendMessageMapper" >
  <resultMap id="BaseResultMap" type="org.vlg.linghu.mybatis.bean.MmsSendMessage" >
    <id column="send_id" property="sendId" jdbcType="INTEGER" />
    <result column="send_title" property="sendTitle" jdbcType="VARCHAR" />
    <result column="send_addtime" property="sendAddtime" jdbcType="TIMESTAMP" />
    <result column="send_pic" property="sendPic" jdbcType="VARCHAR" />
    <result column="send_music" property="sendMusic" jdbcType="VARCHAR" />
    <result column="send_smil_parnum" property="sendSmilParnum" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="send_score" property="sendScore" jdbcType="INTEGER" />
    <result column="send_mobile" property="sendMobile" jdbcType="VARCHAR" />
    <result column="send_status" property="sendStatus" jdbcType="INTEGER" />
    <result column="send_downtime" property="sendDowntime" jdbcType="TIMESTAMP" />
    <result column="send_code" property="sendCode" jdbcType="CHAR" />
    <result column="msgId" property="msgid" jdbcType="VARCHAR" />
    <result column="linkId" property="linkid" jdbcType="VARCHAR" />
    <result column="back_msg" property="backMsg" jdbcType="VARCHAR" />
    <result column="send_isdel" property="sendIsdel" jdbcType="INTEGER" />
    <result column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="serviceID" property="serviceid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.vlg.linghu.mybatis.bean.MmsSendMessageWithBLOBs" extends="BaseResultMap" >
    <result column="send_text" property="sendText" jdbcType="CLOB" />
    <result column="send_smil" property="sendSmil" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    send_id, send_title, send_addtime, send_pic, send_music, send_smil_parnum, user_id, 
    user_name, user_mobile, send_score, send_mobile, send_status, send_downtime, send_code, 
    msgId, linkId, back_msg, send_isdel, index_id, serviceID
  </sql>
  <sql id="Blob_Column_List" >
    send_text, send_smil
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="org.vlg.linghu.mybatis.bean.MmsSendMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from e_mms_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.vlg.linghu.mybatis.bean.MmsSendMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_mms_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.vlg.linghu.mybatis.bean.MmsSendMessageExample" >
    delete from e_mms_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="org.vlg.linghu.mybatis.bean.MmsSendMessageWithBLOBs" >
    insert into e_mms_send
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sendId != null" >
        send_id,
      </if>
      <if test="sendTitle != null" >
        send_title,
      </if>
      <if test="sendAddtime != null" >
        send_addtime,
      </if>
      <if test="sendPic != null" >
        send_pic,
      </if>
      <if test="sendMusic != null" >
        send_music,
      </if>
      <if test="sendSmilParnum != null" >
        send_smil_parnum,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userMobile != null" >
        user_mobile,
      </if>
      <if test="sendScore != null" >
        send_score,
      </if>
      <if test="sendMobile != null" >
        send_mobile,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="sendDowntime != null" >
        send_downtime,
      </if>
      <if test="sendCode != null" >
        send_code,
      </if>
      <if test="msgid != null" >
        msgId,
      </if>
      <if test="linkid != null" >
        linkId,
      </if>
      <if test="backMsg != null" >
        back_msg,
      </if>
      <if test="sendIsdel != null" >
        send_isdel,
      </if>
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="serviceid != null" >
        serviceID,
      </if>
      <if test="sendText != null" >
        send_text,
      </if>
      <if test="sendSmil != null" >
        send_smil,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sendId != null" >
        #{sendId,jdbcType=INTEGER},
      </if>
      <if test="sendTitle != null" >
        #{sendTitle,jdbcType=VARCHAR},
      </if>
      <if test="sendAddtime != null" >
        #{sendAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendPic != null" >
        #{sendPic,jdbcType=VARCHAR},
      </if>
      <if test="sendMusic != null" >
        #{sendMusic,jdbcType=VARCHAR},
      </if>
      <if test="sendSmilParnum != null" >
        #{sendSmilParnum,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendScore != null" >
        #{sendScore,jdbcType=INTEGER},
      </if>
      <if test="sendMobile != null" >
        #{sendMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="sendDowntime != null" >
        #{sendDowntime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendCode != null" >
        #{sendCode,jdbcType=CHAR},
      </if>
      <if test="msgid != null" >
        #{msgid,jdbcType=VARCHAR},
      </if>
      <if test="linkid != null" >
        #{linkid,jdbcType=VARCHAR},
      </if>
      <if test="backMsg != null" >
        #{backMsg,jdbcType=VARCHAR},
      </if>
      <if test="sendIsdel != null" >
        #{sendIsdel,jdbcType=INTEGER},
      </if>
      <if test="indexId != null" >
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="serviceid != null" >
        #{serviceid,jdbcType=VARCHAR},
      </if>
      <if test="sendText != null" >
        #{sendText,jdbcType=CLOB},
      </if>
      <if test="sendSmil != null" >
        #{sendSmil,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.vlg.linghu.mybatis.bean.MmsSendMessageExample" resultType="java.lang.Integer" >
    select count(*) from e_mms_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update e_mms_send
    <set >
      <if test="record.sendId != null" >
        send_id = #{record.sendId,jdbcType=INTEGER},
      </if>
      <if test="record.sendTitle != null" >
        send_title = #{record.sendTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.sendAddtime != null" >
        send_addtime = #{record.sendAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendPic != null" >
        send_pic = #{record.sendPic,jdbcType=VARCHAR},
      </if>
      <if test="record.sendMusic != null" >
        send_music = #{record.sendMusic,jdbcType=VARCHAR},
      </if>
      <if test="record.sendSmilParnum != null" >
        send_smil_parnum = #{record.sendSmilParnum,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userMobile != null" >
        user_mobile = #{record.userMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.sendScore != null" >
        send_score = #{record.sendScore,jdbcType=INTEGER},
      </if>
      <if test="record.sendMobile != null" >
        send_mobile = #{record.sendMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.sendStatus != null" >
        send_status = #{record.sendStatus,jdbcType=INTEGER},
      </if>
      <if test="record.sendDowntime != null" >
        send_downtime = #{record.sendDowntime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendCode != null" >
        send_code = #{record.sendCode,jdbcType=CHAR},
      </if>
      <if test="record.msgid != null" >
        msgId = #{record.msgid,jdbcType=VARCHAR},
      </if>
      <if test="record.linkid != null" >
        linkId = #{record.linkid,jdbcType=VARCHAR},
      </if>
      <if test="record.backMsg != null" >
        back_msg = #{record.backMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.sendIsdel != null" >
        send_isdel = #{record.sendIsdel,jdbcType=INTEGER},
      </if>
      <if test="record.indexId != null" >
        index_id = #{record.indexId,jdbcType=INTEGER},
      </if>
      <if test="record.serviceid != null" >
        serviceID = #{record.serviceid,jdbcType=VARCHAR},
      </if>
      <if test="record.sendText != null" >
        send_text = #{record.sendText,jdbcType=CLOB},
      </if>
      <if test="record.sendSmil != null" >
        send_smil = #{record.sendSmil,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update e_mms_send
    set send_id = #{record.sendId,jdbcType=INTEGER},
      send_title = #{record.sendTitle,jdbcType=VARCHAR},
      send_addtime = #{record.sendAddtime,jdbcType=TIMESTAMP},
      send_pic = #{record.sendPic,jdbcType=VARCHAR},
      send_music = #{record.sendMusic,jdbcType=VARCHAR},
      send_smil_parnum = #{record.sendSmilParnum,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_mobile = #{record.userMobile,jdbcType=VARCHAR},
      send_score = #{record.sendScore,jdbcType=INTEGER},
      send_mobile = #{record.sendMobile,jdbcType=VARCHAR},
      send_status = #{record.sendStatus,jdbcType=INTEGER},
      send_downtime = #{record.sendDowntime,jdbcType=TIMESTAMP},
      send_code = #{record.sendCode,jdbcType=CHAR},
      msgId = #{record.msgid,jdbcType=VARCHAR},
      linkId = #{record.linkid,jdbcType=VARCHAR},
      back_msg = #{record.backMsg,jdbcType=VARCHAR},
      send_isdel = #{record.sendIsdel,jdbcType=INTEGER},
      index_id = #{record.indexId,jdbcType=INTEGER},
      serviceID = #{record.serviceid,jdbcType=VARCHAR},
      send_text = #{record.sendText,jdbcType=CLOB},
      send_smil = #{record.sendSmil,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update e_mms_send
    set send_id = #{record.sendId,jdbcType=INTEGER},
      send_title = #{record.sendTitle,jdbcType=VARCHAR},
      send_addtime = #{record.sendAddtime,jdbcType=TIMESTAMP},
      send_pic = #{record.sendPic,jdbcType=VARCHAR},
      send_music = #{record.sendMusic,jdbcType=VARCHAR},
      send_smil_parnum = #{record.sendSmilParnum,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_mobile = #{record.userMobile,jdbcType=VARCHAR},
      send_score = #{record.sendScore,jdbcType=INTEGER},
      send_mobile = #{record.sendMobile,jdbcType=VARCHAR},
      send_status = #{record.sendStatus,jdbcType=INTEGER},
      send_downtime = #{record.sendDowntime,jdbcType=TIMESTAMP},
      send_code = #{record.sendCode,jdbcType=CHAR},
      msgId = #{record.msgid,jdbcType=VARCHAR},
      linkId = #{record.linkid,jdbcType=VARCHAR},
      back_msg = #{record.backMsg,jdbcType=VARCHAR},
      send_isdel = #{record.sendIsdel,jdbcType=INTEGER},
      index_id = #{record.indexId,jdbcType=INTEGER},
      serviceID = #{record.serviceid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.vlg.linghu.mybatis.bean.MmsSendMessageWithBLOBs" >
    update e_mms_send
    <set >
      <if test="sendTitle != null" >
        send_title = #{sendTitle,jdbcType=VARCHAR},
      </if>
      <if test="sendAddtime != null" >
        send_addtime = #{sendAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendPic != null" >
        send_pic = #{sendPic,jdbcType=VARCHAR},
      </if>
      <if test="sendMusic != null" >
        send_music = #{sendMusic,jdbcType=VARCHAR},
      </if>
      <if test="sendSmilParnum != null" >
        send_smil_parnum = #{sendSmilParnum,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendScore != null" >
        send_score = #{sendScore,jdbcType=INTEGER},
      </if>
      <if test="sendMobile != null" >
        send_mobile = #{sendMobile,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=INTEGER},
      </if>
      <if test="sendDowntime != null" >
        send_downtime = #{sendDowntime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendCode != null" >
        send_code = #{sendCode,jdbcType=CHAR},
      </if>
      <if test="msgid != null" >
        msgId = #{msgid,jdbcType=VARCHAR},
      </if>
      <if test="linkid != null" >
        linkId = #{linkid,jdbcType=VARCHAR},
      </if>
      <if test="backMsg != null" >
        back_msg = #{backMsg,jdbcType=VARCHAR},
      </if>
      <if test="sendIsdel != null" >
        send_isdel = #{sendIsdel,jdbcType=INTEGER},
      </if>
      <if test="indexId != null" >
        index_id = #{indexId,jdbcType=INTEGER},
      </if>
      <if test="serviceid != null" >
        serviceID = #{serviceid,jdbcType=VARCHAR},
      </if>
      <if test="sendText != null" >
        send_text = #{sendText,jdbcType=CLOB},
      </if>
      <if test="sendSmil != null" >
        send_smil = #{sendSmil,jdbcType=CLOB},
      </if>
    </set>
    where send_id = #{sendId,jdbcType=INTEGER}
  </update>
  <resultMap id="selectPageResult" extends="BaseResultMap" type="org.vlg.linghu.mybatis.bean.MmsSendMessage" >
    <!--
<association property="" column="" javaType="">
   <id column="" property="" jdbcType="" />
   <result column="" property="" jdbcType="" />
 </association>
-->
  </resultMap>
  <sql id="select_by_page_outter_where_sql" >
      <if test="oredCriteria.size>0">     <if test="_parameter != null" > <include refid="Example_Where_Clause"/> </if>    and   </if>  <if test="oredCriteria.size==0">     where   </if> 
  </sql>
  <sql id="select_by_page_inner_where_and_orderby_sql" >
      <if test="oredCriteria.size>0">     <if test="_parameter != null" > <include refid="Example_Where_Clause"/> </if>  </if>   <if test="orderByClause != null">    order by ${orderByClause}   </if> 
  </sql>
  <sql id="select_by_page_outter_orderby_sql" >
       <if test="orderByClause != null">    order by ${orderByClause}   </if> 
  </sql>
  <select id="selectPage" resultMap="selectPageResult" parameterType="org.vlg.linghu.mybatis.bean.MmsSendMessageExample" >
    select a.* from e_mms_send a where a.send_id in 
 (select top ${pageSize} send_id from e_mms_send 
<include refid="select_by_page_outter_where_sql"/> 
send_id not in (select top ${skipRecordCount} send_id from e_mms_send  
<include refid="select_by_page_inner_where_and_orderby_sql"/> 
 ) 
<include refid="select_by_page_outter_orderby_sql"/> 
 )
  </select>
</mapper>